<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="modal-footer" th:fragment="footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            <button class="btn btn-primary" id="noteSubmit" onclick="$('#note-form').submit();" type="button">
                Save changes
            </button>
        </div>
        <div class="modal-header" th:fragment="header">
            <h5 class="modal-title" id="noteModalLabel">Note</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="#" id="note-form" method="POST" th:action="@{/notes/note}" th:fragment="form" th:object="${note}">
            <input id="note-id" name="noteid" th:field="*{noteid}" type="hidden" />
            <div class="form-group">
                <label class="col-form-label" for="note-title">Title</label>
                <input class="form-control" id="note-title" maxlength="20" name="notetitle" required th:field="*{notetitle}" type="text" />
            </div>
            <div class="form-group">
                <label class="col-form-label" for="note-description">Description</label>
                <textarea class="form-control" id="note-description" maxlength="1000" name="notedescription" required rows="5" th:field="*{notedescription}"></textarea>
            </div>
            <button class="d-none" type="submit"></button>
        </form>
    </body>
</html>