<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
        <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <div th:insert="fragments/header :: form"></div>
            </div>
            <div id="contentDiv" style="clear: right;">
                <div th:insert="fragments/header :: tabs"></div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <div th:insert="fragments/file :: form"></div>

                        <div class="table-responsive">
                            <div th:insert="fragments/file :: table"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button class="btn btn-info float-right" id="note-creation-btn" onclick="showNoteModal()" style="margin: 0.25em;" type="button">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <div th:replace="fragments/note/table :: head"></div>
                                <tbody>
                                <tr class="note-elements" th:each="note: ${noteList}">
                                    <div th:replace="fragments/note/table :: button-group"></div>
                                    <th th:text="${note.notetitle}" />
                                    <td th:text="${note.notedescription}" />
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div th:replace="fragments/note/modal :: header"></div>
                                    <div class="modal-body">
                                        <div th:insert="fragments/note/modal :: form"></div>
                                    </div>
                                    <div th:replace="fragments/note/modal :: footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button class="btn btn-info float-right" id="credential-creation-btn" onclick="showCredentialModal()" style="margin: 0.25em;" type="button">
                            + Add a New Credential
                        </button>

                        <div th:replace="fragments/credential/table :: table"></div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div th:replace="fragments/credential/modal :: header"></div>
                                    <div class="modal-body">
                                        <div th:insert="fragments/credential/modal :: form"></div>
                                    </div>
                                    <div th:replace="fragments/credential/modal :: footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script type="text/javascript">
            //Open the Note Form
            function showNoteModal(noteId, notetitle, notedescription) {
                $("#note-id").val(noteId ? noteId : "");
                $("#note-title").val(notetitle ? notetitle : "");
                $("#note-description").val(notedescription ? notedescription : "");
                $("#noteModal").modal("show");
            }

            function editNote(note) {
                $("#note-id").val(note.noteid);
                $("#note-title").val(note.notetitle);
                $("#note-description").val(note.notedescription);
                $("#noteModal").modal("show");
            }

            function editCredential(credential) {
                $("#credential-id").val(credential.credentialid);
                $("#credential-url").val(credential.url);
                $("#credential-username").val(credential.username);
                $("#credential-password").val(credential.decryptedPassword);
                $("#credentialModal").modal("show");
            }

            // For opening the credentials modal
            function showCredentialModal(credentialid, url, username, password) {
                $("#credential-id").val(credentialid ? credentialid : "");
                $("#credential-url").val(url ? url : "");
                $("#credential-username").val(username ? username : "");
                $("#credential-password").val(password ? password : "");
                $("#credentialModal").modal("show");
            }
        </script>
    </body>
</html>
